.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.posts {
  flex: 1;
  max-height: 140vh; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ffa3c9 #ffffff; /* For Firefox */
}

.colorlink {
  color: inherit;
  text-decoration: none;
}

.posts::-webkit-scrollbar {
  width: 8px;
}

.posts::-webkit-scrollbar-track {
  background: #fff;
}

.posts::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #fff;
}

.posts {
  scroll-behavior: smooth; /* This will make the scrolling smooth */
}

.load-more,
.show-less {
  padding: 10px 20px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s, transform 0.3s;
}

.load-more:hover,
.show-less:hover {
  background-color: #50bfe6;
  transform: scale(1.05);
}

footer {
  padding: 30px;
  background-color: #282c34;
  color: white;
  text-align: center;
  margin-top: 0vh;
}

footer nav a {
  margin-right: 15px;
  color: #61dafb;
  text-decoration: none;
}

footer p {
  margin: 15px 5px;
}

.line hr {
  width: 70%;
  margin-right: auto;
  float: left;
}

.line p{
  font-size: small;
}

