/* General styles */
.n-hero-section {
  padding: 50px 20px;
  background: linear-gradient(135deg, #f5f7fa, #9e74e2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-text {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #270942;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #270942;
}

/* Graph animation styles */
.graph__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -30vw;

}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
  animation-iteration-count: 1;
  animation-delay: 1.7s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.dashed {
  stroke-dasharray: 5, 12;
}

#arrow {
  animation: arrow 2s linear forwards;
  opacity: 0;
}

@keyframes arrow {
  to {
    opacity: 1;
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .graph__wrapper {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-image, .hero-text {
    padding: 10px;
  }

  .hero-image img {
    max-width: 60vh;
  }
  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }
}










